/* modo escuro */
:root {
    --body_bg: #E3F2FD;
    --title: #4378BB;
    --subtitle: #0F172A;
    --text: #0F172A;
    --text-hover: #4378bb;
    --button: #4378bb;
    --button_hover: #0F172A;
    --button_outline: #4378bb;
    --underline: #4378BB;
    --outline: #0F172A;
    --black: #0F172A;
    --white: #E3F2FD;
}

.dark-mode:root {
    --body_bg: #0F172A;
    --title: #4378BB;
    --subtitle: #E3F2FD;
    --text: #E3F2FD;
    --text-hover: #4378bb;
    --button: #4378bb;
    --button_hover: #E3F2FD;
    --button_outline: #4378bb;
    --underline: #4378bb;
    --outline: #E3F2FD;
    --black: #E3F2FD;
    --white: #0F172A;
    --profile_pic: "./assets/dark-profile-pic.png";
}

/* geral */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--body_bg);
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: var(--title);
}

p, h3{
    color: var(--text);
}

/* video */
#video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  display: none;
}

.video-container {
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 90%;
  max-height: 90vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-player {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}


/* transições */

a, 
.button {
    transition: all 300ms ease;
}

/* navegador desktop */

nav, .links_nav {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.links_nav {
    gap: 32px;
    list-style: none;
    font-size: 24px;
}

a {
    color: var(--black);
    text-decoration: none;
    text-decoration-color: var(--white);
}

a:hover {
    color: var(--text-hover);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: var(--underline);
}

.logo {
    color: var(--text);
    font-size: 2rem;
    cursor:default;
}

/* hamburguer nav */
#hamburger-nav {
    
}


/* seções */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 160px;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* seção profile */

#profile {
    display: flex;
    justify-content: center;
    gap: 80px;
    height: 80vh;
}

.pic-container_section {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0 ;
}

.text_section {
    align-self: center;
    text-align: center;
}

.text_section p{ 
    font-weight: 600;
}

.text_2_section {
    text-align: center;
    font-size: 28px;
    margin-bottom: 16px;
}

.text_1_section {
    text-align: center;
}

.title {
    font-size: 48px;
    text-align: center;
}

#container_socials {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
}

/* icones */

.icon {
    cursor: pointer;
    height: 32px;
}

/* botoes */

.container_button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.button {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 16px;
    width: 120px;
    border-radius: 32px;
    color: var(--text);
}

.button-color1 {
    color: var(--button);
}

.button-color1, .button-color2 {
    border: var(--button) 1.6px solid;
    background-color: transparent;
    z-index: 10;
}

.button-color2 {
    background-color: var(--button);
    color: var(--white);
}

.button-color1:hover, .button-color2:hover {
    background-color: var(--button_hover);
    border: var(--button_hover) 1.6px solid;
    color: var(--white);
    cursor: pointer;
}

#close-modal {
  position: absolute;
  top: -30px; 
  right: -30px;
  font-size: 2rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
}


/* seção sobre mim */

#about {
    position: relative;
}

.about_pic {
    border-radius: 32px;
}

.container_about {
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.container_about_details {
    justify-content: center;
    flex-direction: column;
}

.container_about, .container_about_details {
    display: flex;
}

.arrow {
    height: 20px;
    position: absolute;
    right: -80px;
    bottom: 40px;
}

.container_details, .container_details_info{
    padding: 20px;
    flex: 1;
    background: var(--white);
    border-radius: 32px;
    border: var(--text) 1.6px solid;
    border-color: var(--outline);
    text-align: center;
}

.container_details_info{
    display: flex;
    flex: wrap;
    gap: 20px;
}

.section-container {
    gap: 64px;
    height: 80%;
}

.container_about .icon {
    cursor: default;
}

/* seção experiencia */

#experience {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience-subtitle {
    color: var(--subtitle);
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 32px;
}

.container_experience_details {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.container_articles {
    display: grid; /* Trocar de flex para grid */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsivo */
    gap: 32px; /* Espaço uniforme */
    justify-items: center; /* Centraliza os itens */
    align-items: center; /* Alinha verticalmente */
    padding: 20px; /* Espaçamento interno */
}

article {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px; /* Espaçamento entre ícone e texto */
    width: 100%;
    justify-content: center;
}

article .icon {
    cursor: default;
    width: 40px;
    height: 40px;
}

/* seção projetos */

#projects {
    position: relative;
}

.container_color {
    background-color: var(--body_bg);
    border-color: var(--text);
}

.project-img {
    border-radius: 32px;
    width: 65%;
    height: 65%;
}

.project-title {
    margin: 16px;
    color: var(--title);
}

.project-description {
    padding-bottom: 20px;
    font-size: 14px;
}

.project-button {
    border: var(--black) 1.6px solid;
    background-color: transparent;
    z-index: 10;
}

.project-button:hover {
    background-color: var(--button);
    border: var(--button) 1.6px solid;
    color: var(--white);
    cursor: pointer;
}

.bx{
    font-size: 50px;
    padding-top: 10px;
}

#dark-mode-icon {
    color: var(--black);
    font-size: 32px;
    padding: 0;
}

#dark-mode-icon:hover {
    color: var(--text-hover);
}

#dark-mode-icon-no-hover {
    color: var(--black);
    padding: 0;
}

/* seção contato */

#contact {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.container_contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 32px auto;
    padding: 8px;
}

.container_details_info {
    display: flex;
}

.info {
    font-size: larger;
    display: flex;
}

.contact_info {
    display: flex;
    flex-direction: row;
    margin: 8px;
    gap: 8px;
   align-items: center;
}

.email-icon {
    height: 40px;
}

.contact-icon {
    cursor: default;
}

.contact_link {
    font-size: 48px;
}

/* seção rodapé */

footer {
    height: 26vh;
    margin: 0 16px;
}

footer p {
    text-align: center;
}